.nav-item .btn {
  height: 40px;
  background-color: #09c;
  margin-right: 10px;
}

.btn {
  border-radius: 10px;
}
.btn:hover {
  text-decoration: none;
  background-color: #696969;
}
.formr {
  height: 25px;
  background: #696969;
  border-style: none;
  width: 80px;
}
.navbar {
  float: left;
  height: 70px;
  width: 100%;
  background: #363636;
}
#navbarSupportedContent ul li a {
  color: #eee;
}
#navbarSupportedContent ul li a:hover {
  color: #09c;
  font-size: 18px;
}
#navbarSupportedContent {
  font-size: 17px;
  margin-left: 200px;
}

#heroArea {
  margin-bottom: 0px;
}

.navbar ul {
  margin-right: 90%;
}
